{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}INSTANT-OCR{% endblock %}</title>
    <meta name="description" content="Convert images into editable TXT, PDF, Word, Excel, CSV and JSON using AI OCR." />
    <meta name="csrf-token" content="{{ csrf_token }}" />

    <!-- CDN & Styles -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'components/_background.html' %} {% include 'components/_navbar.html' %}

    <main>
      {% block content %}
      {% endblock %}
    </main>

    {% include 'components/_footer.html' %}

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"></script>
    <script type="module" src="{% static 'js/app.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
