# API KEY HuggingFace 
HF_KEY=...  # Buat akun terlebih dahulu di HuggingFace, lalu generate token
HF_MODEL=... # Tambahkan model yang ingin di load

# other setup can be easy for this file congfiguration