<!-- ================= SUPPORTED FORMAT ================= -->
<section class="formats" id="formats">
  <div class="container">
    <div class="section-heading">
      <span> SUPPORTED FILES </span>
      <h2>Export Into Popular Formats</h2>
    </div>

    <div class="format-list">
      <div class="format-item">TXT</div>
      <div class="format-item">DOCX</div>
      <div class="format-item">PDF</div>
      <div class="format-item">CSV</div>
      <div class="format-item">XLSX</div>
      <div class="format-item">JSON</div>
    </div>
  </div>
</section>